/* Import Vazirmatn Font */
@import '@fontsource/vazirmatn';

/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* تنظیمات ضروری */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Vazirmatn', system-ui, -apple-system, sans-serif;
  direction: rtl;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
